{% extends "layouts/base.html" %}

{% block title %} View Users {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <div class="row">
            <div class="col-md-10">
                <h4 class="card-title">View Users</h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'adduser' %}" class="btn btn-fill btn-primary">Add User</a>
            </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Qalam ID
                    </th>
                    <th>
                      Username
                    </th>
                    <th>
                      Email Address
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Batch
                    </th>
                    <th>
                      Department
                    </th>
                    <th class="text-center">
                        Edit User
                    </th>
                    <th class="text-center">
                      Delete User
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>
                      {{user.qalamId}}
                    </td>
                    <td>
                      {{user.username}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.firstname}} {{user.lastname}}
                    </td>
                    <td>
                        {{user.batch}}
                    </td>
                    <td>
                        {{user.department}}
                    </td>
                    <td class="text-center">
                        <i class="fas fa-edit edit-icon"></i>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash delete-icon"></i>
                    </td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <td>
                      333191
                    </td>
                    <td>
                      mnasir.bese20seecs
                    </td>
                    <td>
                      mnasir.bese20seecs@seecs.edu.pk
                    </td>
                    <td>
                      Mydah Nasir
                    </td>
                    <td>
                        2020
                    </td>
                    <td>
                        SEECS
                    </td>
                    <td class="text-center">
                        <i class="fas fa-edit edit-icon"></i>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash delete-icon"></i>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
