{% extends "layouts/base.html" %}

{% block title %} View Reports {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <div class="row">
            <div class="col-md-10">
                <h4 class="card-title">View Reports</h4>
            </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      First Name
                    </th>
                    <th>
                      Last Name
                    </th>
                    <th>
                      Department
                    </th>
                    <th>
                      Username
                    </th>
                    <!-- <th>
                      Batch
                    </th>
                    <th>
                      Department
                    </th> -->
                    <th class="text-center">
                        Report Download
                    </th>
                    {% if is_admin == "True" %}
                    <th class="text-center">
                      Delete Report
                    </th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for report in reports %}
                  <tr>
                    <td>
                      {{report.firstname}}
                    </td>
                    <td>
                      {{report.lastname}}
                    </td>
                    <td>
                      {{report.department}}
                    </td>
                    <td>
                     {{report.username}}
                    </td>
                    <!-- <td>
                        {{user.batch}}
                    </td>
                    <td>
                        {{user.department}}
                    </td> -->
                    <td class="text-center">
                      <a href="{% url 'downloadreport' report_id=report.report_id %}" class="edit-icon" target="_blank">
                        <i class="fas fa-edit edit-icon"></i>
                      </a>
                    </td>
                    {% if is_admin == "True" %}
                    <td class="text-center">
                      <a href="#" class="delete-icon" onclick="openConfirmationModal('{{ report.report_id }}')">
                        <i class="fas fa-trash"></i>
                      </a>
                    </td>
                    {% endif %}
                    <div id="confirmationModal_{{ report.report_id }}" class="card" style="display: none;">
                      <p id="modalMessage_{{ report.report_id }}"></p>
                      <a class="btn btn-fill btn-primary" href="{% url 'deletereport' report_id=report.report_id %}">Yes</a>
                      <button class="btn btn-fill btn-primary" onclick="closeConfirmationModal('{{ report.report_id }}')">No</button>
                    </div>                  

                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <td>
                      333191
                    </td>
                    <td>
                      mnasir.bese20seecs
                    </td>
                    <td>
                      mnasir.bese20seecs@seecs.edu.pk
                    </td>
                    <td>
                      Mydah Nasir
                    </td>
                    <td>
                        2020
                    </td>
                    <td>
                        SEECS
                    </td>
                    <td class="text-center">
                        <i class="fas fa-edit edit-icon"></i>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash delete-icon"></i>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function openConfirmationModal(report_id) {
      // Display the modal
      document.getElementById('modalMessage_'+report_id).innerHTML = "Are you sure you want to delete report " + report_id + "?";
      document.getElementById('confirmationModal_'+report_id).style.display = 'block';
  }

  function closeConfirmationModal(report_id) {
      // Close the modal
      document.getElementById('confirmationModal_'+report_id).style.display = 'none';
  }
</script>
{% endblock javascripts %}
